* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}
html {
    scroll-behavior: smooth;
}

.menu{
    left: 0;
    top: 0;
}
.menu img{
    height: 120px;
    width: 150px;
}


.navbar ul {
    margin-left: 50px;
}
.navbar ul li {
    padding-left: 10px;
    padding-right: 10px;

}

.navbar ul li a {
    color:#5b4f31 ;
    font-weight: 700;
    font-size: 18px;
}
.navbar ul li a:hover{
    color: #9a8654;
}
#home {
background: url(/resimler/k.webp);
background-size: cover;
opacity: 0.8;
height: 580px;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
#home  h2{
    font-size: 48px;
    color: white;
}
#home  p{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
#home  a{
    border: 2px solid white;
    background: transparent;
    width: 70% !important;
    height: 50px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    padding: 6px;
    margin-top: 20px;
    transition: 0.5s;
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
#home  a:hover{
    border: 2px solid white;
    color: #5b4f31;
    background: white;

}
.bolum1{
    margin-bottom: 50px !important;
}
.bolum1 h2{
    margin-top: 30px;
    text-align: center;
}
.bolum1 h3{
    font-size: 20px;
    text-align: center;
    color: #5b4f31;
}
.bolum1 label{
    margin-top: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 8px;
    font-size: 16px;
}
.bolum1 .ab{
    margin-top: 20px;
    background: #F2F5F2;
   border-radius: 10px;
   text-align: center;
  max-width: 700px;
}

.bolum1 input[type="text"]{
    background: white;
    border-radius: 10px;
}
.bolum1 input[type="text"]:focus{
    border: 3px solid rgb(136, 134, 239);
    box-shadow: none;
}
.bolum1 a{
    font-size: 22px;
    background: rgba(244, 244, 30, 0.873);
    border-radius: 2px solid rgba(244, 244, 30, 0.873);
    color: #5b4f31;
    font-weight: bold;
    border-radius: 10px;
   
    margin: 30px auto 30px auto;
    padding: 20px 30px 20px 30px;
}
.bolum1 a:hover{
    background: white;
}
.bolum2{
    padding: 0 !important;
    background: #5b4f31;
}
.bolum2 .usticerik{
    
    margin-top: 20px;
    padding-top: 40px ;
    padding-bottom: 50px;
    text-align: center;

}
.bolum2 .usticerik h2{
    font-size: 30px;
    color: white;
}
.bolum2 .usticerik p{
    font-size: 20px;
    color: white;
}
.bolum2 .alticerik{
  
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}
.bolum2 .kart h5{
    color: rgb(168, 160, 73);
    font-size: 20px;

}
.bolum2 .kart p{
    color: white;
    font-size: 16px;
}
.bolum2 .kart i{
    color: rgb(168, 160, 73);
    font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.bolum2 a{
    font-size: 22px;
    background: rgba(244, 244, 30, 0.873);
    border-radius: 2px solid rgba(244, 244, 30, 0.873);
    font-weight: bold;
    border-radius: 10px;
    max-width: 33%;
    margin: auto;
    color: #5b4f31 ; 
    padding: 20px 30px 20px 30px !important;
}
.bolum2 a:hover{
    background: white;
   
}
.bolum3{
    text-align: center;
    padding-top: 20px;
}
.bolum3 h2{
    font-size: 40px;
    color: #5b4f31 ;
}
.bolum3 p{
    font-size: 20px;
}
.bolum3 .cizgi{
    width: 320px;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    color: #5b4f31 ;
}
.bolum3 a{
    font-size: 22px;
    background: rgba(244, 244, 30, 0.873);
    border-radius: 2px solid rgba(244, 244, 30, 0.873);
    font-weight: bold;
    border-radius: 10px;
    max-width: 33%;
    margin: auto;
    color: #5b4f31 ; 
    padding: 10px 0;
    margin-bottom: 20px;
    border: 1px solid rgba(244, 244, 30, 0.873);

}
.bolum3 a:hover{
    background: white;
    border: 1px solid #9a8654;
}
.bolum4{
    padding-top: 30px;
    background: #9a8654;
    text-align: center;
    padding-bottom: 15px;
}
.bolum4 h2{
    font-size: 36px;
    color: #3e3621;
}
.bolum4 p{
    font-size: 24px;
    color: #5b4f31 ;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bolum4 .as{
    font-size: 20px;
    color: #5b4f31 ;
    padding-top: 10px;
    padding-bottom: 15px;
}
.bolum4 .asd{
  padding: 30px;
}
.bolum4 h3{
    font-size: 24px;
    color: #3e3621;
}
.bolum4 img{
   
    width: 100%;
  
}
footer{
    background: #3F4240;
    text-align: center;
    padding: 0;
    padding: 30px 0px 30px 0px;

}

footer img{
    height: 120px;
    width: 150px;
    
}
footer a{
    padding-top: 5px;
    color: white ;
    font-size: 16px;
    font-weight: bold;

    
}
footer #link{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
#link a:hover {
    color: #9b8654;
}
footer .ab{
    padding-top: 30px !important;
    font-weight: 20;
}
#yukari {

    top: 80%;
    left: 90%;
    position: fixed;
}
#yukari i {
    border: 1px solid #a8a049;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    background-color: #a8a049;
    color: black;
    transition: 0.3s ease;
    cursor: pointer;
}

#yukari i:hover {
   color:#9b8654;
   background-color: white;
}








